<h1>Панель Администратора</h1>

@* 1) asp-controller -> 2) asp-action*@

<a class="btn btn-primary text-white" asp-area="" asp-controller="Admin" asp-action="Users">Users</a>

<a class="btn btn-primary text-white" asp-area="" asp-controller="Admin" asp-action="Menu">Menu</a>

<a class="btn btn-primary text-white" asp-area="" asp-controller="Admin" asp-action="NewDish">AddDish</a>

