<form method="post" asp-controller="Admin" asp-action="MenuAdd" style="margin-bottom: 20px">
    <p>Name: <input name="name" /></p>
    <p>Price: <input name="price" type="number" /></p>
    <input type="submit" value="Отправить" />
</form>