<h1 class="text-center">Dishes list</h1>



<form method="post" asp-controller="Home" asp-action="Test" style="margin-bottom: 20px">
    @foreach (Dish d in ViewBag.DishList)
    {
        <p>
            <input type="checkbox" name="selectedDishes" value="@d.Id" /> @d.Name ....................................................................... @d.Price rub.
        </p>
    }
    <input type="submit" value="Добавить выбранные блюда в корзину" />
</form>
